<h1>New Authorized Entity</h1>
<p>An authorized entity represents some sort of external organization, agency, company or person who may be authorized to access some set of student data. By adding a new record here, the entity does not automatically gain any access; you must explicitly provide access to an entity in a later step.</p>

<%= render 'form' %>
