<%= link_to glyph("chevron-left") + ' Back', authorized_entities_path %>

<h1><%= @authorized_entity.name %></h1>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Services</h3>
	</div>
	<table class="table">	
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th colspan="2"></th>
			</tr>
		</thead>
		<tbody>
			<%= render partial: "authorized_entities/services/service", collection: @authorized_entity.services.items %>
		</tbody>
	</table>
</div>

<%= link_to glyph(:plus) + " Add Service", [:new, @authorized_entity, :service], class: 'btn btn-default' %>
