<%= breadcrumbs("Student Success Link", [:student_success_link, :organizations], "New") %>

<h1>New Organization</h1>
<p>An Organization in Student Success Link mirrors an Authorized Entity's Service in the Privacy Rules Service.</p>

<%= render 'form' %>
