
<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
		  <td><%#= debug student %></td>
        <td><%#= link_to 'Show', districts_student %></td>
        <td><%#= link_to 'Edit', edit_districts_student_path(districts_student) %></td>
        <td><%#= link_to 'Destroy', districts_student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Student', new_districts_student_path %>
