// # Place all the behaviors and hooks related to the matching controller here.
// # All this logic will automatically be available in application.js.
// # You can use CoffeeScript in this file: http://coffeescript.org/

$(function() {
	$('input#select_all').change(function(event) {
		$('input:checkbox:not(#select_all)').prop('checked', $(this).is(':checked'));
	})

	$('input:checkbox').change(function(event) {
		var form = $(this).closest('form')
		form.find("a[data-submit]").toggleClass('disabled', form.find("input:checkbox:checked").length == 0)
	})


})

function submitDistrict() {
		$("#button").click(function() {
			postDistrict();
		});
}

function postDistrict() {
	var url = '<%= ENV["PRS_URL"] %>/districts;zoneId=<%= ENV["PRS_ZONE_ID"] %>;contextId=<%= ENV["PRS_CONTEXT_ID"] %>';
	alert(url);

	var xmlData =
	'<district>' +
		'<districtName>' + $("#district_districtName").val() + '</districtName>' +
		'<ncesleaCode>' + $("#district_ncesleaCode").val() + '</ncesleaCode>' +
		'<zoneID>' + $("#district_zoneID").val() + '</zoneID>' +
		'<mainContact>' +
			'<name>' + $("#district_mainContact_name").val() + '</name>' +
			'<title>' + $("#district_mainContact_title").val() + '</title>' +
			'<email>' + $("#district_mainContact_email").val() + '</email>' +
			'<phone>' + $("#district_mainContact_phone").val() + '</phone>' +
			'<mailingAddress>' + $("#district_mainContact_mailingAddress").val() + '</mailingAddress>' +
			'<webAddress>' + $("#district_mainContact_webAddress").val() + '</webAddress>' +
		'</mainContact>' +
	'</district>';
	// alert(xmlData);

	var jsonData =
	{
		"district":
		{
			"name": $("#district_districtName").val(),
			"ncesleaCode": $("#district_ncesleaCode").val(),
			"zoneID": $("#district_zoneID").val(),
			"mainContact":
				{
					"name": $("#district_mainContact_name").val(),
					"title": $("#district_mainContact_title").val(),
					"email": $("#district_mainContact_email").val(),
					"phone": $("#district_mainContact_phone").val(),
					"mailingAddress": $("#district_mainContact_mailingAddress").val(),
					"webAddress": + $("#district_mainContact_webAddress").val()
				}
		}
	};
	console.log(jsonData);

  $.ajax({
	  url: url,
	  type: 'POST',
	  data: JSON.stringify(jsonData),
		processData: false,
		contentType: "application/json",
		headers: {
								"Timestamp" : "2016-11-01T23:00:44.450Z",
								"Authorization" : "SIF_HMACSHA256 NzIyMDg5MjYtMWNmYi00NDJkLTg3YmItOWE4YmMwZTI2YjEzOmhSUGtTc3VZMXhqSTR3VkZ5WEloTG9iZFBkV05tK1NKYlhTZWpoWGt1ZVk9",
								"Accept" : "json",
						 },
	 	success: function() {
	  	alert('success!');
	 	},
	  error: function(message) {
			console.error(message);
	    alert(message);
	  }
	});
	// $('#mycontainer').data('source')
	// alert($('#mycontainer').data('source'))
}

$(document).ready(function() {
  submitDistrict();
});
