/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require nprogress
*= require nprogress-bootstrap
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic);

body {
  font-family: 'Source Sans Pro', sans-serif;
}

footer {
  margin: 2em 0;
  color: #ddd;
  font-size: 85%;
}

form.simple_form .form-group > .col-sm-9 {
  width: 50%;
}

input[type=submit] {
  @extend .btn;
  @extend .btn-primary;
}

.breadcrumb li.dropdown {
  cursor: pointer;
}

ul.attribute-summary > li {

  strong {
    color: #888;
  }
}

td.name > a {
  font-weight: bold;
}

#filtersModal pre {
  border: none;
  background-color: none;
  font-size: 11px;
}

#filtersModal .modal-body {
  background-color: #f5f5f5;
}

.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

iframe#wwwhisper-iframe {
  top: 10px !important;
  right: 15px !important;
  position: absolute !important;
}

.environment.label {
  cursor: help;
}

.inline {
  display: inline;
}

a > .glyphicon, .label > .glyphicon {
  margin-right: 0.35em;
}

.popover dl.contact-details {
  margin-top: 0.5em;
  padding-top: 0.5em;
  margin-bottom: 0;
  border-top: 1px solid #ddd;

  > dt {
    width: inherit;
    @extend .text-muted;
  }

  > dd {
    margin-left: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.25em;
  }


}

body.consent_form, body.data_sharing_agreement {

  .printable-form {
    font-family: "Times New Roman", "Times", serif;
  }

  @media screen {
    .printable-form {
      margin: 0 auto;
      max-width: 1100px;
      border: 1px solid #dadada;
      padding: 3em;
      box-shadow: 1px 2px 5px rgba(0,0,0,0.25);
    }
  }

  section.page-header {
    min-height: 70px;
    margin-top: 0;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 22px;
    font-weight: bold;
  }

  h3.district-title {
    font-size: 10px;
    padding: 0.25em 3em;
    border: 1px solid #555;
    border-radius: 3px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 3px;
    font-family: sans-serif;
  }

  input {
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    box-shadow: none;
  }

  .well {
    border-color: #dadada;
    padding: 10px 19px;
  }

  .well.less-than-three {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    ul.services > li {
      width: 50%;
    }
  }

  footer {
    display: none;
  }

  img.district-logo {
    max-height: 60px;
  }

  ul.services > li, ul.datasets > li {
    width: 30%;
    float: left;
    padding-right: 20px;
  }

  address {
    margin-bottom: 0;
  }

  .form-group {
    margin-bottom: 0;
    position: relative;

    label {
      padding: 0;
      position: absolute;
      bottom: 0;
    }

    .input-container {
      margin-left: 33%;
    }

    .input-container.col-sm-7 {
      margin-left: 42%;
    }

    small {
      display: block;
      font-weight: normal;
    }
  }

  .help-block {
    margin-top: 10px;
    margin-bottom: 0;
  }

  @media print {
    font-size: 10px;

    .intro {
      display: none;
    }

    h1 {
      font-size: 16px;
      margin-top: 0;
    }

    h2 {
      font-size: 12px;
      margin-top: 5px;
    }

    select {
      appearance: none !important;
      -webkit-appearance: none;
      font-variant: italic !important;
      border: none !important;
    }

    #breadcrumbs-container, #flashes, iframe#wwwhisper-iframe {
      display: none;
    }

  }
}

body.data_sharing_agreement {
  .well {
    padding-top: 30px;
    padding-left: 0px;
  }

  @media print {
    font-size: 12px;

    .well {
      padding-left: 19px;
    }
  }
}
